services:
  - type: web
    name: wordle-clone
    runtime: docker
    plan: free
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: NODE_ENV
        value: production
